body {
  width: 100vw;
  height: 100vh;
  background: #0D1117;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.705);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: #0D1117;
  border: 2px solid rgba(0, 0, 0, 0.705);
  border-radius: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.camera {
  width: 35px;
}

h1 {
  color: #fff;
  position: relative;
}
h1::before {
  content: "";
  width: 200px;
  height: 100px;
  position: absolute;
  top: -32px;
  left: 158px;
  z-index: -1;
  background: url(assets/img/aperture.svg) no-repeat;
}


.header__left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__right {
  position: relative;
  transform: translateX(-35px);
  background: #fff;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search {
  width: 258px;
  height: 2rem;
  border: none;
  padding: 0 1rem;
  background: transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: -35px;
  transition: all 0.2s ease-in;
  background: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -1;
}
.search-btn:hover {
  transform: translateX(-30%);
}

.search-logo {
  width: 25px;
}

main {
  min-height: 80vh;
  overflow-y: auto;
}

.container {
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-result {
  width: 380px;
  height: 257px;
  overflow: hidden;
  margin: 20px;
}
.search-result > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-more-btn {
  display: block;
  height: 2rem;
  margin: 20px auto;
  border: none;
  border-radius: 1rem;
  padding: 0 1rem;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: none;
}
.show-more-btn:hover {
  background: #343a42;
  color: #fff;
}

footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.year {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.rss-link {
  width: 75px;
  height: 28px;
  padding: 5px;
  transition: all 0.2s ease-in;
  background: url(assets/img/rs_school_js.svg) no-repeat center;
}
.rss-link:hover {
  background-color: #fff;
}

.git-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  transition: all 0.2s ease-in;
}
.git-link:hover {
  transform: translateX(-5%);
  color: #343a42;
}

@media screen and (max-width: 1055px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .search-result {
    width: 100%;
    height: 350px;
  }
}