* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'Coiny', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(assets/img/back-day.jpg) center;
  background-size: cover;
}

h1 {
  margin-top: 0.5em;
}

.night {
  background: url(assets/img/back-night.jpg) center;
  background-size: cover;
}

.daytime-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s ease-in;
}
.daytime-btn:hover {
  transform: scale(1.2);
}
.daytime-btn:active {
  animation-name: rotation-btn;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation-btn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.daytime-img {
  width: 50px;
}

.main-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------- header ---------- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

/* ---------- main content ---------- */

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tv {
  width: 760px;
  height: 600px;
  background: #797675;
  border: 5px solid #383330;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tv__screen {
  width: 100%;
  height: 600px;
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-image: url(assets/img/cringe-wlppr.jpg);
  background-size: cover;
  background-position: center;
}

.tv__brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.tv__screen-icons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  margin: 10px;
}

.tv__screen-lastmenu {
  width: 450px;
  height: 300px;
  background: #fc2d2d;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 24px;
  opacity: 0;
  visibility: hidden;
}
.game-results {
  width: 450px;
  height: 300px;
  background: #fc2d2d;
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border-radius: 24px;
  opacity: 0;
  visibility: hidden;
}
.gameover {
  opacity: 1;
  visibility: visible;
}

.win-text {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.win-btn {
  font-family: 'Coiny';
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding: 10px 40px;
  border-radius: 25px;
  border: none;
  background: #fd4848;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.results-btn {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-img {
  width: 40px;
}

.win-btn:hover {
  transform: scale(1.05);
  color: #fc2d2d;
}

.results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
  align-self: end;
}
.close-btn:hover {
  transform: scale(1.05);
}

.close-img {
  width: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  font-size: 16px;
  color: #ffd000;
  list-style-type: none;
}

.win-score {
  color: aqua;
}

.pc-icon,
.game-icon {
  width: 56px;
  padding: 5px;
  border: 1px dotted #000;
  background-color: #00000050;
}

.tv__screen-gameicon {
  position: absolute;
  top: 390px;
  left: 160px;
  cursor: pointer;
}

.game-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;
  background: #fff;
  text-align: center;
  border: 1px dotted #000;
}

.hide-icons {
  opacity: 0;
  visibility: hidden;
}

.memory-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  border: 2px solid #383330;
  perspective: 1000px;
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.start-game{
  opacity: 1;
  visibility: visible;
}

.memory-card {
  width: 17%;
  height: 23%;
  position: relative;
  margin: 1px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.1s ease-in;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  border: 2px solid #fc3737;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* ---------- footer ---------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.rss-link {
  width: 75px;
  height: 28px;
  transition: all 0.2s ease-in;
  background: url(assets/img/rs_school_js.svg);
}

.year {
  font-size: 20px;
}

.git-link {
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
.git-link:hover {
  transform: scale(1.1);
}

.theme {
  transition: all 0.2s ease-in;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .tv {
    width: 500px;
    height: 395px;
  }
}