*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  width: 100%;
}

h1 {
  font-family: 'Forum', cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: #fff;
}

h2 {
  font-family: 'Forum', cursive;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  margin: 0 auto 20px auto;
  text-align: center;
}

.underline {
  width: 50px;
  height: 1px;
  margin: 0 auto 40px auto;
  background: #0C0C0E;
}

h3 {
  font-family: 'Forum';
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

h3::after {
  content: "";
  height: 1px;
  width: 60px;
  background: #BB945F;
  position: absolute;
  bottom: 1px;
  left: 0;
}

h4 {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #BB945F;
}

h5.find {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

h5.get {
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

a:hover,
.footer-link:hover {
  color: #BB945F;
}

/* --- header styles --- */

header {
  background: #0C0C0E;
  padding: 20px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #0C0C0E;
  position: relative;
}

.linkbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #fff;
}

.profile-btn {
  background: transparent;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 15;
  fill: #BB945F;
}

.header-account:hover {
  transform: scale(1.3);
}

.burger {
  display: none;
}

.drop-menu {
  visibility: hidden;
  position: absolute;
  top: 42px;
  right: 105px;
  z-index: 7;
  width: 80px;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #FFF;
  padding-top: 5px;
}

.drop-menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.drop-menu-head {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.drop-menu-line {
  width: 40px;
  height: 1px;
  background: #BB945F;
}

.drop-menu-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login {
  border: none;
  background: transparent;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}



/* --- welcome styles --- */

.welcome {
  width: 100%;
  min-height: 600px;
  background-image: url(assets/img/welcome-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.overlay {
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  height: 300px;
}

.welcome-label {
  max-width: 600px;
  padding: 35px 40px;
  background: #0C0C0E;
  position: absolute;
  bottom: 160px;
}

.welcome-text {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

/* --- about styles --- */

.about-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px;
}

.about-text {
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.about-carousel {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 35px;
}

.carousel-wrapper {
  width: 1400px;
  overflow: hidden;
}

.carousel-gal {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 0px;
  position: relative;
  transition: all 0.2s ease-in;
}

.carousel-gal-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.carousel-btn {
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 7%;
}

.carousel-btn svg path {
  stroke: blue;
  cursor: default;
}

.carousel-btn:hover {
  transform: scale(1.3);
}

.carousel-img {
  max-width: 450px;
  max-height: 560px;
}

.carousel-pags {
  display: flex;
  justify-content: center;
}

.pag-4,
.pag-5 {
  display: none;
}

.carousel-pag {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  left: 0;
  transition: all 0.2s ease-in;
}

.carousel-pag::after {
  content: "";
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  position: absolute;
  border-radius: 50%;
}

.pag-active::after {
  background: #BB945F;
  cursor: default;
}

/* --- favorites styles --- */

.seasons-text {
  font-weight: 700;
  margin: 0 0 35px 20px;

}

.seasons-list {
  display: flex;
  gap: 79px;
  width: 695px;
  justify-content: space-between;
  margin-left: 15px;
  margin-bottom: 35px;
}

.radio-group {
  padding: 5px;
  cursor: pointer;
}

.radio {
  display: block;
  max-width: 107px;
  width: 100%;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.radio input[type="radio"] {
  display: none;
}

.radio .radio-mark {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  padding: 5px;
}

.radio-text {
  max-width: 130px;
  line-height: normal;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.radio .radio-mark::after {
  content: "";
  width: 7px;
  height: 7px;
  background: #000;
  display: block;
  position: absolute;
  left: 7px;
  top: 7px;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.radio input[type="radio"]:checked ~ .radio-mark::after {
  transform: translate(-50%,-50%) scale(1);
}

.radio input[type="radio"]:checked ~ .radio-text {
  font-weight: 700;
  line-height: normal;
}

.books-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
  display: none;
}

.books-wrap.is-active {
  display: flex;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: 1s ease fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: 1s ease fade-out;
}

.book-item {
  position: relative;
  width: 590px;
  height: 555px;
  display: flex;
  gap: 35px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.book-item::after {
  content: "";
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  z-index: -1;
}

.book-feats {
  width: 355px;
  height: 555px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 0 15px 20px;
}

.book-cover {
  position: absolute;
  bottom: -5px;
  right: 0;
}

.book-title,
.book-author {
  width: 550px;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-title {
  text-transform: uppercase;
}

.book-description {
  width: 355px;
  height: 320px;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.buy-btn {
  text-align: center;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 27px;
  transition: all 0.5s;
  cursor: pointer;
  background: transparent;
}

.buy-btn:hover {
  border-color: #BB945F;
  background: #BB945F;
}

.own-btn {
  text-align: center;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 27px;
  transition: all 0.5s;
}

.own-btn:disabled {
  color: #BB945F;
  border-color: #BB945F;
}

/* --- coffee shop styles --- */

.hr-menu {
  width: 100px;
  border: none;
  border-bottom: 1px solid #BB945F;
}

.coffee-shop-wrap {
  max-width: 1400px;
  margin: 20px 20px 0 20px;
}

.menu-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-drinks-wrap,
.menu-desserts-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.menu-drinks-wrap {
  width: 438px;
}

.menu-desserts-wrap {
  width: 482px;
  align-items: flex-end;
}

.menu-drink-item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.menu-dessert-item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.shop-text {
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.drink-item,
.dessert-item {
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.drink-item {
  width: 205px;
}

.price {
  font-family: Forum;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

/* --- contacts styles --- */

.contacts-wrap {
  padding: 20px 20px 60px;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
}

.contacts-list {
  width: 505px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map {
  max-width: 696px;
  height: 414px;
}

.inquiries,
.employee {
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.inquiries {
  margin-bottom: 20px;
}

.contact-person {
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contact-tel {
  color: #000;
  transition: 0.5s;
}

.mail {
  font-weight: 700;
}

.contact-tel:hover {
  color: #BB945F;
}

/* --- cards styles --- */

.library-card > h2 {
  margin-top: 20px;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 41px;
}

.find-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card-border {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 17px 17px 30px 17px;
}

.card-form {
  width: 560px;
  height: 272px;
  background: #BB945F;
  padding: 20px 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-form > form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-text {
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.form-input-label {
  margin: 0;
  padding: 0;
}

.form-input {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding: 8px 0 8px 20px;
}

.form-input::placeholder {
  font-family: Forum;
  color: #8e8e8e;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.btn-check {
  width: 242px;
  height: 44px;
  color: #0C0C0E;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 10px 40px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-check:hover {
  border-color: #BB945F;
  background: #BB945F;
}

.get-card {
  width: 456px;
}

.get-card-notlog {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 35px;
}

.get-card-log {
  display: none;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  gap: 35px;
}

.get-account {
  display: flex;
  gap: 20px;
}

.get-text {
  text-align: right;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}

.btn-account {
  width: 75px;
  height: 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background: transparent;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-account:hover {
  border-color: #BB945F;
  background: #BB945F;
}

.prof-counters-login {
  display: none;
  width: 237px;
  gap: 20px;
}

/* --- footer styles --- */

.hr-footer {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
}

.footer-wrap {
  padding: 20px 20px 44px;
  background: #0c0c0e;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-block {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

.socials-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.footer-left {
  width: 229px;
  gap: 18px;
}

.footer-right {
  width: 149px;
  text-align: right;
  gap: 10px;
}

address {
  font-style: normal;
}

.address-link {
  color: #FFF;
}

.social {
  width: 24px;
  height: 24px;
}

.social-logo {
  transition: all 0.5s;
}

.social-logo:hover {
  transform: scale(1.8);
}

.footer-author {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.year,
.footer-link {
  color: #FFF;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}

.footer-link {
  transition: all 0.5s;
}

.cntr {
  padding-left: 112px;
}

/* ---------------------------------------------------- */
/* ----------------------- modals --------------------- */

.modal-reg {
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  background: #00000080;
  overflow: hidden;
  overflow-y: auto;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal-log {
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  background: #00000080;
  overflow: hidden;
  overflow-y: auto;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal-reg-wrap {
  width: 250px;
  height: 382px;
  max-width: 100%;
  background: #FFF;
  padding: 20px 25px;
}
.modal-log-wrap {
  width: 250px;
  height: 262px;
  max-width: 100%;
  background: #FFF;
  padding: 20px 25px;
}
.modal-btn-close {
  border: none;
  background: transparent;
  position: relative;
  bottom: 352px;
  left: 192px;
  cursor: pointer;
}
.modal-btn-close-log {
  border: none;
  background: transparent;
  position: relative;
  bottom: 232px;
  left: 192px;
  cursor: pointer;
}
.modal-reg-head {
  display: flex;
  justify-content: center;
  font-family: 'Forum';
  line-height: 20px;
  letter-spacing: 0.4px;
  margin: 0 auto 20px auto;
}
.reg-form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}
.reg-label {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.reg-input {
  border: 1px solid #BB945F;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}
.reg-btn-signup {
  width: 75px;
  height: 30px;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  background: transparent;
  font-size: 10px;
  font-weight: 700;
  list-style: 1px;
  cursor: pointer;
}
.modal-reg-foot-text {
  display: inline-block;
  font-size: 10px;
  margin-right: 4px;
}
.modal-reg-btn-foot {
  display: inline;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-prof { 
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #00000080;
  overflow: hidden;
  overflow-y: auto;
  z-index: 20;
}
.prof-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background: #0C0C0E;
  width: 170px;
  height: 400px;
}
.prof-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #FFF;
  color: #BB945F;
  line-height: 20px;
  text-transform: uppercase;
}
.prof-name-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-height: 30px;
  background: #FFF;
}
.prof-content {
  width: 430px;
  height: 400px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
}
.prof-head {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
}
.prof-midle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.prof-counters {
  width: 237px;
  display: flex;
  gap: 20px;
}
.prof-visits,
.prof-bonuses,
.prof-books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.prof-counts-head {
  line-height: 20px;
  letter-spacing: 0.4px;
}
.prof-count {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.rent-books {
  font-size: 25px;
  line-height: 20px;
  color: #0C0C0E;
  margin-bottom: 10px;
}
.rent-books-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rent-book {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: capitalize;
  margin-left: 30px;
}
.prof-card-num-wrap {
  display: flex;
  gap: 15px;
  align-items: center;
}
.prof-card-text {
  display: inline;
  line-height: 20px;
  color: #0C0C0E;
}
.prof-card-number {
  line-height: 20px;
  color: #BB945F;
}
.modal-btn-prof-close {
  border: none;
  background: transparent;
  position: relative;
  bottom: 377px;
  left: 182px;
  cursor: pointer;
}

.modal-buy-card {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #00000080;
  overflow: hidden;
  overflow-y: auto;
  z-index: 20;
}
.modal-buy-wrap {
  width: 650px;
  height: 540px;
  display: flex;
  flex-direction: column;
}
.modal-buy-header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 103px;
  background: #0C0C0E;
}
.buy-head {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #FFF;
}
.modal-buy-close {
  border: none;
  background: transparent;
}
.modal-buy-content {
  width: 100%;
  height: 480px;
  display: flex;
  gap: 40px;
  padding: 30px 40px 40px;
  background: #FFF;
}
.modal-buy-form {
  width: 200px;
}
.buy-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buy-form-text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.buy-form-input {
  width: 100%;
  height: 20px;
  border: 1px solid #BB945F;
}
.small-input {
  width: 45px;
}
/* не срабатывает код ниже */
.small-input input:nth-child(3) {
  margin-bottom: 10px;
}
.modal-buy-discr {
  width: 330px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #8e8e8e;
}
.submit-buy {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}
.price {
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  color: #0C0C0E;
}

/* ------------------ @media queries ------------------ */

@media (max-width: 1402px) {
  .pag-4 {
    display: block;
  }
}

@media (max-width: 1412px) {
  .carousel-wrapper {
    width: 925px;
  }
  .pag-4 {
    display: block;
  }
}

@media (max-width: 1240px) {
  .contacts-info {
    flex-direction: column;
    gap: 100px;
  }
}

@media (max-width: 1219px) {
  .books-wrap {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .nav-desk {
    position: fixed;
    width: 332px;
    height: 570px;
    padding: 100px 100px;
    top: 0;
    right: 0;
    background: #0C0C0E;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.3s all ease-in-out;
  }
  .nav-desk-active {
    transform: translateX(0);
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
  }
  .burger {
    width: 45px;
    height: 20px;
    display: block;
    cursor: pointer;
  }
  .burger-line,
  .burger::before,
  .burger::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: 0.3s all ease-in-out;
    background: #fff;
  }
  .burger::before,
  .burger::after {
    content: "";
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger-line {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  .nav-item {
    line-height: 50px;
  }
  .burger-active span{
    scale: 0;
  }
  .burger-active::before{
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
  .burger-active::after{
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
  }
}

@media (max-width: 970px) {
  .menu-wrap {
    flex-direction: column;
  }
  .menu-desserts-wrap {
    margin-left: auto;
  }
}

@media (max-width: 927px) {
  .carousel-wrapper {
    width: 450px;
  }
  .pag-5 {
    display: block;
  }
  .carousel-btn {
    display: block;
  }
  .about-carousel {
    width: 614px;
    gap: 20px;
  }
  .about-text {
    padding: 0 20px 0;
  }
  .card-wrap {
    flex-direction: column;
    gap: 21px;
    padding: 0 20px 40px;
  }
  .get-card {
    width: 600px;
    align-items: center;
    margin: 0 auto 0;
  }
  .get-text {
    text-align: center;
    margin-top: 4px;
  }
  .get-account {
    margin-top: 6px;
  }
}

@media (max-width: 768px) {
    .books-wrap {
    justify-content: center;
  }
  .contacts-info {
    flex-direction: column;
    gap: 100px;
  }
  .map {
    margin: 0 auto 0;
  }
  .cntr {
    padding-left: 56px;
  }
  .footer-links {
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .seasons-list {
    width: 150px;
    flex-direction: column;
    gap: 10px;
  }
  .map {
    width: 580px;
    overflow: hidden;
  }
}