body {
  font-family: 'Montserrat', sans-serif;
}

time, a {
  font-size: 1.25rem;
  color: antiquewhite;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
a:hover {
  color: #f53030;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  margin: auto 0;
}

/* .player {
  display: none;
} */

.speaker {
  width: 250px;
  height: 400px;
  background: linear-gradient(135deg, #5A491B, #0F0F0F);
  border: 5px solid #222;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.speaker__twitter {
  width: 100px;
  height: 100px;
  background: #444;
  border: 2px solid #333;
  border-radius: 100%;
  position: relative;
}
.speaker__twitter::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #303030;
  background: radial-gradient(at left top, #303030, #0E0D0B);
}
.speaker__bass {
  width: 200px;
  height: 200px;
  background: #444;
  border: 2px solid #333;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speaker__bass-woofer {
  width: 180px;
  height: 180px;
  background: rgb(141,141,149);
  background: radial-gradient(circle, rgba(141,141,149,1) 0%, rgba(53,53,59,1) 60%, rgba(0,0,0,1) 85%);
  border-radius: 100%;
  position: relative;
}
.speaker__bass-woofer::before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: linear-gradient(292deg, rgba(28,28,28,1) 0%, rgba(60,60,60,1) 53%, rgba(80,80,80,1) 100%);
}
.speaker__bass-woofer::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: radial-gradient(at left top, #303030, #000000);
}
.left-sp {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: -1;
}
.right-sp {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: -1;
}

.player-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 360px;
  padding: 40px;
  background: #111;
  box-shadow: 0 30px 20px -20px #000;
}

.player__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.player__top-cover,
.player__top-controls {
  width: 180px;
  height: 180px;
  background-color: #000;
}

.player__top-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(251, 255, 0, 0.2),
              -5px 5px 5px 0px rgba(251, 255, 0, 0.2),
              -5px -5px 5px 0px rgba(251, 255, 0, 0.2),
              5px -5px 5px 0px rgba(251, 255, 0, 0.2);
}

.player__top-controls {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(0deg, #222, #111);
  border: solid 2px #000;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 4px 2px rgba(0, 0, 0, 0.2);
}
.fa.fa-play,
.fa.fa-pause {
  line-height: 88px;
}
.fa {
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease-in;
}
.fa:hover {
  color: antiquewhite;
  text-shadow: 0 0 4px antiquewhite;
}
.fa:active {
  color: rgb(230, 48, 35);
  text-shadow: 0 0 4px rgb(230, 48, 35);
}
.fa-play,
.fa-pause {
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  border: solid 2px #000;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  text-align: center;
  background: linear-gradient(0deg, #111, #222);
}
.playing {
  color: rgb(0, 255, 115);
  text-shadow: 0 0 4px rgb(0, 255, 115);
}
.fa-backward-fast {
  font-size: 1.3rem;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.fa-forward-fast {
  font-size: 1.3rem;
  top: 50%;
  left: 81%;
  transform: translateY(-50%);
}
.fa-volume-high {
  font-size: 1.3rem;
  top: 14%;
  left: 43%;
  transform: translate(13%, -44%);
}
.fa-volume-low {
  font-size: 1.3rem;
  top: 87%;
  left: 43%;
  transform: translate(13%, -44%);
}
.volume-slider {
  position: absolute;
  width: 180px;
  top: 210px;
  left: 0px;
  height: 0.2rem;
  border-radius: 10px;
  background: antiquewhite;
  box-shadow: 0 0 2px 2px antiquewhite;
  cursor: pointer;
}

.player__bottom {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player__bottom-timeline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player__bottom-song,
.timeline-digits {
  color: antiquewhite;
}
hr {
  width: 100%;
  height: 1px;
  border: none;
  background: antiquewhite;
}
.timeline-slider {
  width: 85%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.timer {
  width: 100%;
}
.timer__bg {
  position: relative;
  height: 0.6rem;
  border-top: solid 1px #000;
  border-radius: 10px;
  background: none;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}
.duration {
  position: absolute;
  width: 100%;
  top: 2px;
  left: 0;
  height: 0.2rem;
  border-radius: 10px;
  background: antiquewhite;
  box-shadow: 0 0 2px 2px antiquewhite;
  cursor: pointer;
}
.timeline-digits-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.digits {
  font-family: 'Monofett', monospace;
  font-size: 1.5rem;
  color: antiquewhite;
}

canvas {
  width: 70vw;
  height: 150px;
  padding: 10px;
  /* background: #000; */
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-wrap {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  padding: 2vmin;
  background: #000;
  margin: 2vmin;
  border-radius: 30px;
}